
@font-face {
  font-family: "NoirPro";
  src: url("../fonts/NoirPro-Light.ttf") format("truetype");
  font-display: block;
  font-weight: 300;
}

@font-face {
  font-family: "NoirPro";
  src: url("../fonts/NoirPro-Regular.ttf") format("truetype");
  font-display: block;
  font-weight: 400;
}

@font-face {
  font-family: "NoirPro";
  src: url("../fonts/NoirPro-Medium.ttf") format("truetype");
  font-display: block;
  font-weight: 500;
}

@font-face {
  font-family: "NoirPro";
  src: url("../fonts/NoirPro-Medium.ttf") format("truetype");
  //font-display: block;
  font-weight: 600;
}

@font-face {
  font-family: "NoirPro";
  src: url("../fonts/NoirPro-Medium.ttf") format("truetype");
  font-display: block;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "NoirPro", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: "NoirPro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background: var(--background-bg) !important;
}

