[submodule "libs/hotel-components"]
	path = libs/hotel-components
	url = https://github.com/Bahico/hotel-components.git

[submodule "projects/staff"]
	path = projects/staff
	url = https://github.com/Bahico/staff-microfrontend.git

[submodule "projects/hotel-microfrontend"]
	path = projects/hotel-microfrontend
	url = https://github.com/Bahico/hotel-microfrontend.git

[submodule "projects/organization"]
	path = projects/organization
	url = https://github.com/Bahico/organization.git
