.ant-modal-content {
  border-radius: var(--border-radius);
}

.ant-modal-header {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.ant-modal-body {
  padding: 0 !important;
}

.modal-body {
  padding: 10px;
  //margin-bottom: 10px;
}
